[submodule "flutter-persistence"]
	path = flutter-persistence
	url = https://github.com/joshuadeguzman/flutter-persistence-demo
	branch = master
[submodule "flutter-moviehub"]
	path = flutter-moviehub
	url = https://github.com/joshuadeguzman/flutter-moviehub
	branch = master
[submodule "flutter-add-to-native-protobuff"]
	path = flutter-add-to-native-protobuff
	url = https://github.com/joshuadeguzman/flutter-add-to-native-protobuff-demo
	branch = master
[submodule "flutter-addtoapp-basic-demo"]
	path = flutter-addtoapp-basic-demo
	url = https://github.com/joshuadeguzman/flutter-addtoapp-basic-demo
	branch = master
[submodule "flutter-addtoapp-protobuf-demo"]
	path = flutter-addtoapp-protobuf-demo
	url = https://github.com/joshuadeguzman/flutter-addtoapp-protobuff-demo
	branch = master
